<app-cabecera></app-cabecera>

<main>
  <h1 class="visually-hidden">SOFF</h1>

  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/assets/Logo.png" alt="" width="250px">
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">ElectrOffice es una tienda especializada en ventas de productos de oficina, ideal para las personas que trabajan desde la comodidad de su casa. Nuestra tienda ofrece la mejor experiencia al consumidor asesorando y ofreciendo productos de calidad y garantía.</p>
    </div>
  </div>
  <div class="container marketing text-center">


    <div class="row">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/assets/t06.jpg"
          aria-label="Placeholder: 140x140">

        <h2 class="fw-normal">Industrial</h2>

        <p>Somos una compañía comprometida con la calidad y seguridad alimentaria de nuestros productos, distribución,
          comercialización y consumo de los alimentos.</p>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">

        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/assets/t05.jfif"
          aria-label="Placeholder: 140x140">

        <h2 class="fw-normal">Calidad</h2>
        <p>El sistema de calidad está soportado en estándares y certificaciones de calidad, nacionales e
          internacionales, garantizamos la excelencia de los procesos productivos y los productos que comercializa.</p>


      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/assets/t04.jfif"
          aria-label="Placeholder: 140x140">

        <h2 class="fw-normal">Almacen</h2>
        <p>Contamos con espacios adecuados que aseguran autonomía y personalización en el manejo y custodia de tus
          mercaderías, dirigimos todos nuestros esfuerzos para tu negocio.</p>

      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">COLABORADORES <span class="text-muted">Somos un Equipo!</span>
        </h2>
        <p class="lead">producir un ambiente de trabajo que favorezca la sinergia de las diferentes áreas y el trabajo
          interdepartamental.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500"
          src="https://img.freepik.com/foto-gratis/joven-empresaria-concentrada-gafas-camisa-rayas-trabajando-papeles-casa_171337-13052.jpg"
          aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice">


      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Inventario <span class="text-muted">Todo bajo control.</span></h2>
        <p class="lead">Servicios es especialista en la toma de inventarios físicos con conciliación contable y en la
          implementación de procedimientos para efectuar los inventarios utilizando las mejores herramientas
          tecnológicas y con personal altamente calificado.

          .</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" src="/assets/t02.webp" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Seguridad <span class="text-muted">Y Salud en el trabajo</span>
        </h2>
        <p class="lead">La Seguridad y Salud en el Trabajo (SST) es un derecho fundamental de todos los trabajadores y
          tiene como objetivo, prevenir los accidentes de trabajo y enfermedades ocupacionales. Para eso, las entidades
          públicas deberán propiciar el mejoramiento de las condiciones de seguridad y salud en el trabajo a fin de
          prevenir daños en la integridad física y mental de los trabajadores que sean consecuencia, guarden relación o
          sobrevengan durante el trabajo..</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" src="/assets/t01.webp" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice">
      </div>
    </div>

    <hr class="featurette-divider">

  </div><!-- /.container -->

</main>

<app-pie></app-pie>
